<template>
    <button class="filter-appliy btn btn-default fa fa-search" type="button" @click="applyFilters" title="Zastosuj filtry"></button>
</template>

<script>
    export default {
        name: "ApplyFilters",
        methods: {
            applyFilters() {
                this.$emit('apply-filters');
            }
        },
    }
</script>

<style scoped>

</style>