<template>
    <div class="checkbox" :class="{'inactive': !isActive, checked: isChecked}" @click="checkboxClick"></div>
</template>

<script>
    export default {
        name: "Checkbox",
        props: {
            value: {
                required: true,
            },
            isChecked: {
                required: true,
                type: Boolean,
            },
            isActive: {
                required: true,
                type: Boolean,
            },
        },
        methods: {
            checkboxClick() {
                if (this.isActive) {
                    this.$emit('checkbox-click', {
                        value: this.value,
                        isCheckedNow: !this.isChecked,
                    });
                }
            },
        },
    }
</script>

<style scoped lang="scss">
    .checkbox {
        width: 24px;
        height: 24px;
        text-align: center;
        font: normal normal normal 21px/1 FontAwesome;
        display: inline-block;
        color: #f0f0f0;
        border-radius: 3px;
        border: 1px solid #3c8dbc;
        background-color: #fff;
        line-height: 24px;
        cursor: pointer;
        position: relative;
        vertical-align: middle;

        &.checked {
            color: #ffffff;
            background-color: #3c8dbc;

            &:after {
                content: "\F00C";
                position: absolute;
                top: 0;
                left: 1px;
            }
         }

        &.inactive {
            opacity: 0.1;
            background-color: #d0d0d0;
            border: 1px solid #000000;
            cursor: not-allowed;
        }
    }
</style>