<template>
    <button class="btn btn-default fa fa-check-square-o" type="button" @click="emitCheckAll" title="Zaznacz wszystkie"></button>
</template>

<script>
    import EventDispatcher from "MainBundle/Resources/public/js/services/event/EventDispatcher";

    export default {
        name: "CheckAll",
        methods: {
            emitCheckAll() {
                this.$emit('checkboxes-check-all');
            }
        },
    }
</script>

<style scoped>

</style>