<template>
    <button class="filter-clear btn btn-default fa fa-times" type="button" @click="clearFilters" title="Wyczyść filtry"></button>
</template>

<script>
    export default {
        name: "ClearFilters",
        methods: {
            clearFilters() {
                this.$emit('clear-filters');
            }
        },
    }
</script>

<style scoped>
    .filter-clear {
        color: #ce0000;
    }
</style>