<template>
    <div class="context-menu" :style="position" v-click-outside="closeMenu">
        <div v-for="(column, columnName) in columns"class="column-item" v-if="column.hidden === false" :class="{'column-hidden': false === column.visible}">
            <span
                class="fa visibility"
                :class="{'fa-eye': column.visible, 'fa-eye-slash': false === column.visible}"
                @click="toggleColumnVisibility(columnName)"
            ></span>
            <span class="column-name" @click="toggleColumnVisibility(columnName)">{{column.label|trans}}</span>
            <span class="move fa fa-arrow-up" @click="moveColumnLeft(columnName)"></span>
            <span class="move fa fa-arrow-down" @click="moveColumnRight(columnName)"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ContextMenu",
        props: ['top', 'left'],
        inject: ['tableContainer'],
        computed: {
            columns() {
                return this.tableContainer.store.state.columns;
            },
            position() {
                return {
                    top: `${this.top}px`,
                    left: `${this.left}px`,
                };
            }
        },
        methods: {
            closeMenu() {
                this.$emit('contextMenuClose');
            },
            toggleColumnVisibility(columnName) {
                const isVisible = !this.columns[columnName].visible;

                this.tableContainer.store.commit('changeColumnVisibility', {columnName, isVisible});
            },
            moveColumnLeft(columnName) {
                this.tableContainer.store.commit('moveColumnLeft', {columnName});
            },
            moveColumnRight(columnName) {
                this.tableContainer.store.commit('moveColumnRight', {columnName});
            },
        },
    }
</script>

<style scoped lang="scss">
    .context-menu {
        position: fixed;
        box-shadow: 2px 2px 11px #000000;
        padding: 10px 0px 10px 10px;
        box-sizing: content-box;
        display: inline-block;
        background-color: #222222;
        z-index: 100;

        .column-item {
            margin-bottom: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid rgba(255,255,255, 0.1);
            color: #ffffff;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            &.column-hidden {
                opacity: 0.2;
            }

            .visibility {
                display: inline-block;
                width: 30px;
                cursor: pointer;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }

            .column-name {
                display: inline-block;
                margin-left: 5px;
                opacity: 0.6;
                cursor: pointer;
            }

            .move {
                float: right;
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
</style>