<template>
    <div class="pagination">
        <div class="pagination-limits">
            <button-dropdown class="pagination-limit" :label="limit">
                <template slot="items">
                    <li v-for="(option, key) in pagination.possibleLimits" :key="`pagination_limits_${key}`" @click="limit = option"><a href="#">{{option}}</a></li>
                </template>
            </button-dropdown>

            <div class="pages">
                <div class="page-tile first fa fa-step-backward btn btn-default" @click="changePage(1)"></div>
                <div class="page-tile prev fa fa-caret-left btn btn-default" @click="changePage(previousPage)"></div>

                <div v-for="page in pages" @click="changePage(page)" class="page-tile page-number btn btn-default" :class="{current: pagination.currentPage === page}">{{page}}</div>

                <div class="page-tile next fa fa-caret-right btn btn-default" @click="changePage(nextPage)"></div>
                <div class="page-tile last fa fa-step-forward btn btn-default" @click="changePage(pagination.maxPage)"></div>
                <div class="btn btn-success pagination-info hide-on-mobile">
                    <span class="hide-on-mobile"><i class="fa fa-info-circle"></i> strona </span>{{pagination.currentPage}} z {{ maxPage }} (<b>{{ pagination.totalItemsCount }}</b><span class="hide-on-mobile"> pozycji</span>)</div>
                <div class="btn btn-primary refresh-table" @click="$emit('refresh-request')"><i class="fa fa-refresh" title="Odśwież dane"></i></div>
            </div>
        </div>
    </div>
</template>

<script>
    import Select2 from "MainBundle/Resources/public/js/vue/components/select/Select2";
    import ButtonDropdown from "MainBundle/Resources/public/js/vue/components/buttons/ButtonDropdown";

    export default {
        name: "Pagination",
        components: {ButtonDropdown, Select2},
        inject: [
            'paginationContainer'
        ],
        computed: {
            /**
             * @return {state.pagination|{limit, possibleLimits, currentPage, maxPage}|getters.pagination|*|pagination|default.computed.pagination}
             */
            pagination() {
                return this.paginationContainer.state;
            },

            limit: {
                set(limit) {
                    this.paginationContainer.changeLimit(limit);
                    this.$emit('limit-change');
                },
                get() {
                    return this.pagination.limit;
                },
            },

            /**
             * @return {int|string}
             */
            maxPage() {
                return null !== this.pagination.maxPage ? this.pagination.maxPage : '∞';
            },

            /**
             * @return {int|string}
             */
            maxTiles() {
                return this.pagination.maxTiles;
            },

            /**
             * @return {number}
             */
            previousPage() {
                return Math.max(this.pagination.currentPage - 1, 1);
            },

            /**
             * @return {number}
             */
            nextPage() {
                return Math.min(this.pagination.currentPage + 1, this.pagination.maxPage);
            },

            /**
             * @return {Array}
             */
            pages() {
                if (null === this.pagination.currentPage) {
                    return [];
                }

                const currentPage = this.pagination.currentPage;
                const maxPages = this.pagination.maxPage;
                const maxTiles = this.maxTiles;

                let min = Math.max(currentPage - maxTiles, 1);
                let max = Math.min(currentPage + maxTiles, maxPages);

                if (min > currentPage - maxTiles) {
                    max = Math.min( maxPages, max - (currentPage - maxTiles) + 1);
                } else if ( max < currentPage + maxTiles ) {
                    min = Math.max(1, min - (currentPage + maxTiles - maxPages));
                }

                return Array(max - min + 1).fill(min).map((x, y) => x + y);
            }
        },
        methods: {
            /**
             * @param {int} pageNumber
             */
            changePage(pageNumber) {
                this.paginationContainer.changePage(pageNumber);
                this.$emit('page-change');
            },
        },
    }
</script>

<style scoped lang="scss">
    .pagination {

        .refresh-table {
            font-size: 12px;
            margin-left: 10px;
        }

        .pages {
            display: inline-block;
            margin-left: 20px;

            .page-tile {
                margin: 0 2px;
                font-size: 14px;
                line-height: 1em;

                &.prev {
                    font-size: 1.2em;
                }

                &.next {
                    font-size: 1.2em;
                }

                &.current {
                    background-color: #3c8dbc;
                    border-color: #367fa9;
                    color: #ffffff;
                }
            }
        }

        .pagination-info {
            font-size: 12px;
            margin-left: 20px;
            cursor: default;
        }

        .pagination-limits {
            display: inline-block;

            .limits {
                width: 100px;
            }
        }

        .pagination-page-input {
            color: #444444;
            width: 24px;
            border: none;
            text-align: center;
            background: #ffffff;
            border-radius: 3px;
            outline: none;

            &::selection {
                color: #444444;
                background-color: transparent;
            }
        }

        .pagination-limit {
            margin-left: 10px;

            .btn {
                height: 30px;
                line-height: 18px;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .pagination {
            .pages {
                margin-left: 2px;
            }

            .pagination-info {
                margin-left: 2px;
            }

            .refresh-table {
                margin-left: 2px;
            }


            .btn {
                padding: 4px 8px;
            }

            .hide-on-mobile {
                display: none;
            }
        }
    }
</style>

<style lang="scss">
    @media screen and (max-width: 480px) {
        .pagination .pagination-limit {
            .btn {
                padding: 4px 4px;
            }
        }
    }
</style>