<template>
    <div class="sort-wrapper">
        <div class="arrows-wrapper">
            <div class="sort-button fa fa-caret-up" :class="{active: isSortingAsc}" @click="changeSortDirection('asc')"></div>
            <div class="sort-button fa fa-caret-down" :class="{active: isSortingDesc}" @click="changeSortDirection('desc')"></div>
        </div>
        <div v-if="isCurrentlySorted" class="sort-counter" @click="removeSorting" title="Kliknij aby usunąć sortowanie po tej kolumnie">{{orderInSequence(columnName)}}</div>
    </div>
</template>

<script>
    export default {
        name: "SortButton",
        props: ['columnName'],
        inject: ['tableContainer'],
        computed: {
            columns() {
                return this.tableContainer.store.state.columns;
            },
            sorting() {
                return this.tableContainer.store.state.sorting;
            },
            isCurrentlySorted() {
                return this.columns[this.columnName].isCurrentlySorted;
            },
            isSortingAsc() {
                return this.columns[this.columnName].sortingDirection === 'asc' && this.isCurrentlySorted;
            },
            isSortingDesc() {
                return this.columns[this.columnName].sortingDirection === 'desc' && this.isCurrentlySorted;
            },
            sortingSequence() {
                return Object.keys(this.sorting);
            },
        },
        methods: {
            changeSortDirection(direction) {
                this.tableContainer.store.commit('changeSortingDirection', {column: this.columnName, direction});
                this.$emit('sorting-change');
            },
            removeSorting() {
                this.tableContainer.store.commit('removeSorting', {column: this.columnName});
                this.$emit('sorting-change');
            },
            orderInSequence(columnName) {
                return this.sortingSequence.indexOf(columnName) + 1;
            }
        }
    }
</script>

<style scoped lang="scss">
    .sort-wrapper {
        height: 28px;
        padding: 0;
        /*width: 20px;*/
        vertical-align: middle;
        display: inline-block;

        .arrows-wrapper {
            display: inline-block;
            vertical-align: inherit;
            margin-left: 5px;
            font-size: 16px;

            .sort-button {
                background: none;
                border: none;
                height: 12px;
                display: block;
                vertical-align: middle;
                color: #000000;
                outline: none;
                opacity: 0.2;
                cursor: pointer;

                &.active {
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        .sort-counter {
            display: inline-block;
            border-radius: 50%;
            min-width: 18px;
            min-height: 18px;
            font-size: 9px;
            padding: 3px;
            color: #ffffff;
            text-align: center;
            vertical-align: inherit;
            background-color: #3c8dc8;
            margin-left: 5px;
            cursor: pointer;
        }
    }
</style>