<template>
    <button class="btn btn-default fa fa-square-o" type="button" @click="emitUncheckAll" title="Odznacz wszystkie"></button>
</template>

<script>
    import EventDispatcher from "MainBundle/Resources/public/js/services/event/EventDispatcher";

    export default {
        name: "UncheckAll",
        methods: {
            emitUncheckAll() {
                this.$emit('checkboxes-uncheck-all');
            }
        },
    }
</script>

<style scoped>

</style>