<template>
    <div class="check-field">
        <span v-if="true === viewData" class="fa fa-check check"></span>
    </div>
</template>

<script>
    export default {
        name: "CheckCell",
        props: ['rawData', 'viewData', 'attributes'],
    }
</script>

<style scoped lang="scss">
    .check-field {
        display: inline-block;
        font-size: 18px;
        color: #3c8dbc;
    }
</style>