<template>
    <div v-if="null != rawData && '' !== rawData" class="fa fa-circle" :style="{color: viewData}"></div>
    <div v-else>{{ attributes.empty_data }}</div>
</template>

<script>
    export default {
        name: "ColorCell",
        props: ['rawData', 'viewData', 'attributes']
    }
</script>

<style scoped>

</style>