<template>
    <div>
        <time-duration v-if="null !== viewData" :value="viewData" />
    </div>
</template>

<script>
    import TimeDuration from "Shipping/ShipmentDateCalculatorBundle/Resources/public/js/vue/components/TimeDuration";

    export default {
        name: "DateTimeIntervalCell",
        components: {TimeDuration},
        props: ['rawData', 'viewData', 'attributes'],
    }
</script>

<style scoped>

</style>