<template>
    <div>
        {{ date }}
    </div>
</template>

<script>
    import PhpToMomentjsFormatConverter
        from "MainBundle/Resources/public/js/vue/components/symfony-form/libraries/PhpToMomentjsFormatConverter";

    export default {
        name: "DateCell",
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            date() {
                return null != this.viewData
                    ? moment(this.viewData.date).format(this.dateFormat)
                    : this.attributes.empty_value
                ;
            },
            dateFormat() {
                return this.converter.convert(this.attributes.format);
            },
        },
        created() {
            this.converter = new PhpToMomentjsFormatConverter();
        }
    }
</script>

<style scoped>

</style>