<template>
    <div class="editable" :class="{'edit-mode': editMode, changed: valueChanged, 'in-progress': inProgress}">
        <template v-if="!editMode">
            <div v-if="attributes.raw_output" v-html="value" @click="startEdition"></div>
            <div v-else @click="startEdition">{{ value }}</div>
        </template>
        <template v-else>
            <input type="text" v-model="value"
                   ref="editInput"
                   class="edit-input"
                   @blur="finishEdition"
                   @keydown.esc="cancelEdition"
                   @keydown.enter="$refs.editInput.blur()"
            />
        </template>
    </div>
</template>

<script>
    import EntityPatcherApiClient from "DanlineBundle/Resources/public/js/clients/EntityPatcherApiClient";

    export default {
        name: "EditableField",
        props: ['rawData', 'viewData', 'attributes'],
        data() {
            return {
                editMode: false,
                value: this.rawData,
                inProgress: false,
            };
        },
        computed: {
            valueChanged() {
                return this.value != this.rawData;
            },
        },
        watch: {
            rawData(value) {
                this.value = value;
            }
        },
        methods: {
            startEdition() {
                this.editMode = true;
                this.$nextTick(() => {
                    this.$refs.editInput.focus();
                    this.$refs.editInput.select();
                });
            },

            /**
             * @returns {Promise<void>}
             */
            async finishEdition() {
                this.editMode = false;

                if (this.valueChanged) {
                    try {
                        this.inProgress = true;
                        await this.httpClient.patchEntity(
                            this.$attrs.metadata.rowId,
                            this.attributes.class,
                            this.attributes.field,
                            this.value
                        );
                        this.$emit('table-cell-changed');
                    } catch (error) {
                        this.value = this.rawData;
                        toastr.error('Zapisanie danych nie powiodło się!');
                    }

                    this.inProgress = false;
                }
            },

            cancelEdition() {
                this.editMode = false;
                this.value = this.rawData;
            }
        },
        mounted() {
            this.httpClient = new EntityPatcherApiClient();
        },
    }
</script>

<style scoped lang="scss">
.editable {
    border-bottom: 2px solid transparent;
    transition: 0.5s background-color, 0.5s border-bottom-color;

    &:hover {
        cursor: text;
        border-bottom: 2px solid #2e6da4;
    }

    &.edit-mode {
        cursor: text;
        border-bottom: 2px solid #2e6da4;
    }

    .edit-input {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }

    &.changed {
        color: #00a65a;

        &:hover {
            border-bottom-color: #00a65a;
        }

        &.edit-mode {
            border-bottom-color: #00a65a;
        }
    }

    &.in-progress {
        animation: pulse 2s ease infinite;
    }
}

@keyframes pulse {
    0% {
        border-bottom-color: #00a65a;
    }
    50% {
        border-bottom-color: transparent;
    }
    100% {
        border-bottom-color: #00a65a;
    }
}

</style>