<template>
    <json-viewer v-if="null != rawData" :value="rawData"/>
    <div v-else></div>
</template>

<script>
    import JsonViewer from "vue-json-viewer";

    export default {
        name: "JsonCell",
        components: {JsonViewer},
        props: ['rawData', 'viewData', 'attributes']
    }
</script>

<style scoped>

</style>