<template>
    <div>
        {{ value }}
    </div>
</template>

<script>
    export default {
        name: "NumberCell",
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            value() {
                return null != this.rawData
                    ?  Number(this.rawData).toLocaleString('pl-PL')
                    : this.attributes.empty_value
                ;
            },
        }
    }
</script>

<style scoped>

</style>