<template>
    <div v-if="null != rawData">{{ formattedValue }}%</div>
    <div v-else>{{ attributes.empty_data }}</div>
</template>

<script>
    export default {
        name: "PercentCell",
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            formattedValue() {
                return null != this.rawData
                    ? Number(this.rawData).toLocaleString('pl-PL', {
                        minimumFractionDigits: this.attributes.decimal_digits,
                        maximumFractionDigits: this.attributes.decimal_digits,
                    })
                    : this.attributes.empty_value
                ;
            },
        }
    }
</script>

<style scoped>

</style>