<template>
    <div>
        <div v-if="attributes.raw_output" v-html="valueFormatted"></div>
        <div v-else>{{ valueFormatted }}</div>
    </div>
</template>

<script>
    export default {
        name: "PriceCell",
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            valueFormatted() {
                return null != this.rawData
                    ? this.$priceFormat(this.viewData.value)
                    : this.attributes.empty_value
                ;
            },
        }
    }
</script>

<style scoped>

</style>