<template>
    <product-type-icon v-if="null != rawData" :productType="rawData"/>
    <div v-else></div>
</template>

<script>
    import ProductTypeIcon from "MainBundle/Resources/public/js/vue/components/product/ProductTypeIcon";
    export default {
        name: "ProductTypeCell",
        components: {ProductTypeIcon},
        props: ['rawData', 'viewData', 'attributes']
    }
</script>
