<template>
    <div>
        <span style="cursor: pointer" @click="toggleVisibility"><b>{{label}}</b></span>
        <div v-if="expand">
            <ul>
                <li v-for="data of viewData ">
                    <span>{{data.productSymbol}}<b> ({{data.quantity}} szt)</b></span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductsCell",
        props: ['rawData', 'viewData', 'attributes'],
        data() {
            return {
                expand: false,
                label: 'Rozwiń'
            }
        },
        methods: {
            toggleVisibility() {
                if(this.expand){
                    this.label = 'Rozwiń';
                    return this.expand = false
                }
                this.label = 'Zwiń';
                return this.expand = true;
            }
        }
    }
</script>