<template>
    <shop-icon v-if="null != rawData" :shop="rawData"/>
    <div v-else></div>
</template>

<script>
    import ShopIcon from "BokBundle/Resources/public/js/omnibox/vue/components/ShopIcon";
    export default {
        name: "ShopCell",
        components: {ShopIcon},
        props: ['rawData', 'viewData', 'attributes']
    }
</script>

<style scoped>

</style>