<template>
    <div>
        <div v-if="attributes.raw_output" v-html="viewData"></div>
        <div v-else>{{ viewData }}</div>
    </div>
</template>

<script>
    export default {
        name: "SimpleCell",
        props: ['rawData', 'viewData', 'attributes']
    }
</script>

<style scoped>

</style>