<template>
    <div>
        {{ value }}
    </div>
</template>

<script>
    export default {
        name: "SimpleTransCell",
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            value() {
                return null != this.rawData
                    ? this.viewData
                    : this.attributes.empty_value
                ;
            }
        }
    }
</script>

<style scoped>

</style>