<template>
    <div v-if="user">
        <user-avatar :user="user"/>
        <div class="user-name">{{user.name}}</div>
    </div>
    <div v-else>{{ attributes.empty_value }}</div>
</template>

<script>
    import UserAvatar from "MainBundle/Resources/public/js/vue/components/user/UserAvatar";

    export default {
        name: "UserCell",
        components: {UserAvatar},
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            user() {
                if (null == this.rawData) {
                    return null;
                }

                const user = {
                    name: this.viewData.name,
                    skype: this.viewData.skype,
                    isUserCurrentlyInWork: this.viewData.isUserCurrentlyInWork,
                    avatar: {
                        id: this.viewData.avatar.id,
                    },
                };

                return user;
            }
        }
    }
</script>

<style scoped>
    .user-name {
        display: inline-block;
    }

</style>