<template>
    <div>
        <div v-if="viewData != null">
            <template v-if="attributes.show_device">
                <i v-if="attributes.show_icons" :class="[deviceIcon, iconSize]" :title="deviceTitle"></i>
            </template>

            <template v-if="attributes.show_operating_system">
                <i v-if="attributes.show_icons" :class="[systemIcon, iconSize]" :title="systemTitle"></i>
                <span v-if="attributes.show_labels">
                    <template v-if="!attributes.short_labels">{{ userAgent.getOS().name }}</template>
                    {{ userAgent.getOS().version }}
                </span>
            </template>

            <template v-if="attributes.show_browser">
                <i v-if="attributes.show_icons" :class="[browserIcon, iconSize]" :title="browserTitle"></i>
                <span v-if="attributes.show_labels">
                    <template v-if="!attributes.short_labels">{{ userAgent.getBrowser().name }}</template>
                    {{ userAgent.getBrowser().version }}
                </span>
            </template>
        </div>
        <div v-else>{{ attributes.empty_value }}</div>
    </div>
</template>

<script>
    import UaParser from "ua-parser-js";

    export default {
        name: "UserAgentCell",
        props: ['rawData', 'viewData', 'attributes'],
        computed: {
            /**
             * @returns {string}
             */
            userAgent() {
                return new UaParser(this.viewData);
            },

            /**
             * @returns {string}
             */
            browserIcon() {
                switch (this.userAgent.getBrowser().name) {
                    case 'Android Browser':
                        return 'fa fa-android';
                    case 'Firefox':
                    case 'Mozilla':
                    case 'Fennec':
                        return 'fa fa-firefox';
                    case 'Opera':
                    case 'Opera Coast':
                    case 'Opera Mini':
                    case 'Opera Mobi':
                    case 'Opera Tablet':
                        return 'fa fa-opera';
                    case 'Chrome':
                    case 'Chrome Headless':
                    case 'Chrome WebView':
                    case 'Chromium':
                    case 'Iridium':
                    case 'Iron':
                        return 'fa fa-chrome';
                    case 'IE':
                    case 'IEMobile':
                    case 'Internet Explorer':
                        return 'fa fa-internet-explorer';
                    case 'Edge':
                        return 'fa fa-edge';
                    case 'Safari':
                        return 'fa fa-safari';
                    case 'Facebook':
                        return 'fa fa-facebook';
                    default:
                        return 'fa fa-globe';
                }
            },

            /**
             * @returns {string}
             */
            systemIcon() {
                switch (this.userAgent.getOS().name) {
                    case 'iOS':
                    case 'Mac OS':
                        return 'fa fa-apple';
                    case 'Windows':
                        return 'fa fa-windows';
                    case 'Android':
                        return 'fa fa-android';
                    case 'Chromium OS':
                        return 'fa fa-chrome';
                    case 'Firefox OS':
                        return 'fa fa-firefox';
                    case 'Arch':
                    case 'CentOS':
                    case 'Fedora':
                    case 'FreeBSD':
                    case 'Debian':
                    case 'Gentoo':
                    case 'GNU':
                    case 'Linux':
                    case 'Mandriva':
                    case 'Minix':
                    case 'Mint':
                    case 'OpenBSD':
                    case 'PCLinuxOS':
                    case 'RedHat':
                    case 'Slackware':
                    case 'Solaris':
                    case 'SUSE':
                    case 'Ubuntu':
                    case 'Unix':
                        return 'fa fa-linux';
                    default:
                        return 'fa fa-question-circle';
                }
            },

            /**
             * @returns {string}
             */
            deviceIcon() {
                switch (this.userAgent.getDevice().type) {
                    case 'mobile':
                        return 'fa fa-mobile';
                    case 'desktop':
                        return 'fa fa-desktop';
                    case 'smarttv':
                        return 'fa fa-television';
                    case 'tablet':
                        return 'fa fa-tablet';
                    case 'embedded':
                        return 'fa fa-microchip';
                    default:
                        return 'fa fa-desktop';
                }
            },

            /**
             * @returns {string}
             */
            deviceTitle() {
                return `${this.userAgent.getDevice().type}`;
            },

            /**
             * @returns {string}
             */
            systemTitle() {
                return `${ this.userAgent.getOS().name } ${ this.userAgent.getOS().version }`;
            },

            /**
             * @returns {string}
             */
            browserTitle() {
                return `${ this.userAgent.getBrowser().name } ${ this.userAgent.getBrowser().version }`;
            },

            /**
             * @returns {string}
             */
            iconSize() {
                switch (this.attributes.icon_size) {
                    case 1:
                        return 'fa-1x';
                    case 2:
                        return 'fa-2x';
                    case 3:
                        return 'fa-3x';
                    case 4:
                        return 'fa-4x';
                    case 5:
                        return 'fa-5x';
                    default: return '';
                }
            },
        }
    }
</script>
