<template>
    <span v-if="action.type === 'component'" :title="action.label|trans" class="action fa" :class="[action.icon, {enabled: action.enabled, 'action-hidden': !action.visible}]" @click="performAction"></span>
    <a v-else-if="action.type === 'link'" :href="link" :target="action.target" :class="{enabled: action.enabled, 'action-hidden': !action.visible}">
        <span class="action fa" :title="action.label|trans" :class="[action.icon, action.class, {enabled: action.enabled, 'action-hidden': !action.visible}]"></span>
    </a>
</template>

<script>
    export default {
        name: "Action",
        props: ['index', 'name'],
        inject: ['tableContainer'],
        computed: {
            rows() {
                return this.tableContainer.store.state.rows;
            },
            actions() {
                return this.tableContainer.store.state.actions;
            },
            action() {
                return this.actions[this.index][this.name];
            },
            link() {
                return this.$generateRoute(this.action.route, this.action.routeParameters);
            },
        },
        methods: {
            performAction() {
                if (this.action.enabled && this.action.visible) {
                    const rowData = this.rows[this.index];

                    this.$emit('action-click', {
                        action: this.action.name,
                        id: rowData.__rowId,
                        row: rowData,
                        parameters: this.action,
                    });
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .action {
        font-size: 25px;
        display: inline-block;
        margin: 0 10px;
        opacity: 0.2;
        color: #555555;
        cursor: not-allowed;

        &:hover {
            color: #333333;
        }

        &.enabled {
            opacity: 1;
            cursor: pointer;
        }

        &.action-hidden {
            visibility: hidden;
            cursor: default;
        }
    }
</style>