<template>
    <span
            :title="action.label"
            class="action fa"
            :class="[action.icon, {enabled: action.enabled, 'action-hidden': !action.visible}]"
            v-confirm="{message: confirmMessage, confirm: performAction }"
    ></span>
</template>

<script>
    export default {
        name: "ConfirmedAction",
        props: ['index', 'name'],
        inject: ['tableContainer'],
        data() {
            return {
                linkPreventDefault: true,
            };
        },
        computed: {
            rows() {
                return this.tableContainer.store.state.rows;
            },
            actions() {
                return this.tableContainer.store.state.actions;
            },
            action() {
                return this.actions[this.index][this.name];
            },
            link() {
                return this.$generateRoute(this.action.route, this.action.routeParameters);
            },
            confirmMessage() {
                return this.action.componentAttributes.confirmMessage || 'Czy na pewno chcesz wykonać tą akcję?';
            },
        },
        methods: {
            performAction(params, confirm) {
                confirm.close();
                if (this.action.enabled && this.action.visible) {
                    if (this.action.type === 'component') {
                        const rowData = this.rows[this.index];

                        this.$emit('action-click', {
                            action: this.action.name,
                            id: rowData.__rowId,
                            row: rowData,
                            parameters: this.action,
                        });
                    } else if (this.action.type === 'link') {
                        window.location.href = this.link;
                    }
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .action {
        font-size: 25px;
        display: inline-block;
        margin: 0 10px;
        opacity: 0.2;
        color: #555555;
        cursor: not-allowed;

        &:hover {
            color: #333333;
        }

        &.enabled {
            opacity: 1;
            cursor: pointer;
        }

        &.action-hidden {
            visibility: hidden;
            cursor: default;
        }
    }
</style>