<template>
    <div class="vue-table">

        <div class="top-filters" v-if="hasTopFilters && !loading" :class="{reloading}">
            <div class="top-filters-content">
                <div v-for="(filter, filterName) in topFilters" :key="`table_top_filter_${filterName}`" v-if="filter.component !== 'NoneFilter'" class="top-filter">
                    <label v-if="filter.componentAttributes.label">
                        {{ filter.componentAttributes.label }}
                    </label>
                    <component :is="resolveFilterComponent(filter)" :name="filter.name" />
                </div>
            </div>
            <div class="top-filters-actions">
                <apply-filters @apply-filters="applyFilters"/>
                <clear-filters @clear-filters="clearFilters"/>
            </div>
        </div>

        <pagination v-if="showPaginationTop" @page-change="changePage" @limit-change="changePaginationLimit" @refresh-request="reloadData" />

        <context-menu v-if="contextMenu" :top="contextMenuTop" :left="contextMenuLeft" @contextMenuClose="closeContextMenu" />

        <div class="table-horizontal-scroll">
            <div v-if="!loading" class="table" :class="{reloading}">
                <div v-if="table.showHeader" class="header">
                    <div v-if="table.showFilters" class="filters">
                        <div v-if="showCheckboxesLeft" class="checkboxes cell">
                            <check-all @checkboxes-check-all="checkboxesCheckAll" />
                            <uncheck-all @checkboxes-uncheck-all="checkboxesUncheckAll"/>
                        </div>
                        <div v-if="showActionsLeft" class="actions cell">
                            <div class="tbl-cell actions">
                                <apply-filters @apply-filters="applyFilters"/>
                                <clear-filters @clear-filters="clearFilters"/>
                            </div>
                        </div>
                        <div v-for="(column, columnName) in columns" :key="`table_filter_${columnName}`" v-if="column.visible && !column.hidden" class="cell" @contextmenu="showContextMenu($event)">
                            <component :is="resolveFilterComponent(column.filter)"
                                       :name="column.filter.name"
                                       :key="`filter_${column.filter.name}`"
                                       @submit-filters="applyFilters"
                            />
                        </div>
                        <div v-if="showActionsRight" class="actions cell">
                            <div class="tbl-cell actions">
                                <apply-filters @apply-filters="applyFilters"/>
                                <clear-filters @clear-filters="clearFilters"/>
                            </div>
                        </div>
                        <div v-if="showCheckboxesRight" class="checkboxes cell">
                            <check-all @checkboxes-check-all="checkboxesCheckAll" />
                            <uncheck-all @checkboxes-uncheck-all="checkboxesUncheckAll"/>
                        </div>
                    </div>
                    <div class="labels">
                        <div v-if="showCheckboxesLeft" class="checkboxes cell">
                            Zaznacz <span v-if="checkedItemsCount > 0" class="badge bg-green" style="font-weight: bold;">{{ checkedItemsCount }}</span>
                        </div>
                        <div v-if="showActionsLeft" class="actions cell">
                            Akcje
                        </div>
                        <div v-for="(column, columnName) in columns" :key="`table_label_${columnName}`" v-if="column.visible && !column.hidden" class="cell" :class="[column.align, column.width]" @contextmenu="showContextMenu($event)">
                            <div class="column-label">{{ column.label|trans }}</div>
                            <sort-button v-if="column.sortingEnabled" :columnName="columnName" @sorting-change="changeSorting" />
                        </div>
                        <div v-if="showActionsRight" class="actions cell">
                            Akcje
                        </div>
                        <div v-if="showCheckboxesRight" class="checkboxes cell">
                            Zaznacz <span v-if="checkedItemsCount > 0" class="badge bg-green" style="font-weight: bold;">{{ checkedItemsCount }}</span>
                        </div>
                    </div>
                </div>

                <div v-for="(row, index) in rows" :key="`table_row_${index}`" class="table-row" v-bind="bindRowAttributes(row)">
                    <div v-if="showCheckboxesLeft" class="checkboxes cell">
                        <checkbox :value="index" :is-checked="checkboxes[index].checked" :is-active="checkboxes[index].active" @checkbox-click="checkboxClickHandler" />
                    </div>
                    <div v-if="showActionsLeft" class="actions cell">
                        <template v-for="(action, key) in actions[index]" >
                            <component :is="resolveActionComponent(action)"
                                    :key="`action_${action.name}_left_${key}`"
                                    :index="index"
                                    :name="action.name"
                                    @action-click="actionClickHandler"
                            />
                        </template>
                    </div>
                    <div v-for="(column, columnName) in columns" :key="`table_cell_${index}_${columnName}`" v-if="column.visible && !column.hidden" class="cell"
                         :class="[column.align, column.width]"
                    >
                        <slot :name="`row:cell:${parseToKebabCase(columnName)}`" :row="row" :cell="row[columnName]" :column="column">
                            <component :is="resolveCellComponent(column)"
                                       :rawData="row[columnName].rawData"
                                       :viewData="row[columnName].viewData"
                                       :attributes="column.componentAttributes"
                                       :metadata="row[columnName].metadata"
                                       :key="`cell_${columnName}_${index}`"
                                       v-on="$listeners"
                            />
                        </slot>
                    </div>
                    <div v-if="showActionsRight" class="actions cell">
                        <template v-for="(action, key) in actions[index]" v-if="action.enabled">
                            <slot
                                    :name="`row:action:${parseToKebabCase(action.name)}`"
                                    :row="row"
                                    :action="action"
                            >
                                <component :is="resolveActionComponent(action)"
                                       :key="`action_${action.name}_right_${key}`"
                                       :index="index"
                                       :name="action.name"
                                       @action-click="actionClickHandler"
                                />
                            </slot>
                        </template>
                    </div>
                    <div v-if="showCheckboxesRight" class="checkboxes cell">
                       <checkbox :value="index" :is-checked="checkboxes[index].checked" :is-active="checkboxes[index].active" @checkbox-click="checkboxClickHandler" />
                    </div>
                </div>
                <div v-if="rows && 0 === rows.length" class="empty-results">Brak wyników</div>
            </div>
            <loader v-else />
        </div>

        <pagination v-if="showPaginationBottom" @page-change="changePage" @limit-change="changePaginationLimit" @refresh-request="reloadData" />
    </div>
</template>

<script>
    import HttpClient from "MainBundle/Resources/public/js/services/http/HttpClient";
    import Pagination from "./components/Pagination";
    import SortButton from "./components/SortButton";
    import Loader from "MainBundle/Resources/public/js/vue/components/loaders/Loader";
    import ContextMenu from "./components/ContextMenu";
    import Action from "./components/actions/Action";
    import ConfirmedAction from "./components/actions/ConfirmedAction";
    import ApplyFilters from "./components/ApplyFilters";
    import ClearFilters from "./components/ClearFilters";
    import CheckAll from "./components/CheckAll";
    import UncheckAll from "./components/UncheckAll";
    import TableContainer from "./services/TableContainer";
    import Vue from 'vue';
    import lodash from 'lodash';
    // ~
    import SimpleCell from './components/cells/SimpleCell';
    import ColorCell from './components/cells/ColorCell';
    import DateCell from './components/cells/DateCell';
    import DateTimeCell from './components/cells/DateTimeCell';
    import SimpleTransCell from './components/cells/SimpleTransCell';
    import CheckCell from './components/cells/CheckCell';
    import PriceCell from './components/cells/PriceCell';
    import NumberCell from './components/cells/NumberCell';
    import PercentCell from './components/cells/PercentCell';
    import JsonCell from './components/cells/JsonCell';
    import UserAgentCell from './components/cells/UserAgentCell';
    import ProductsCell from "./components/cells/ProductsCell";
    import EditableCell from "./components/cells/EditableCell";
    // ~
    import NoneFilter from "./components/filters/NoneFilter";
    import TextFilter from "./components/filters/TextFilter";
    import DateRangeFilter from "./components/filters/DateRangeFilter";
    import SelectFilter from "./components/filters/SelectFilter";
    import TriboxFilter from "./components/filters/TriboxFilter";
    import NumberRangeFilter from "./components/filters/NumberRangeFilter";
    import UserCell from "./components/cells/UserCell";
    import Checkbox from "./components/Checkbox";

    export default {
        name: "Table",
        components: {
            Checkbox,
            UncheckAll,
            CheckAll,
            ClearFilters,
            ApplyFilters,
            Action,
            ContextMenu,
            SortButton,
            Pagination,
            Loader
        },
        props: {
            customCells: {
                type: Object,
                default: () => {return {};},
            },
            customFilters: {
                type: Object,
                default: () => {return {};},
            },
            customActions: {
                type: Object,
                default: () => {return {};},
            },
            dataSourceUrl: {
                type: String,
                required: true,
            },
        },
        provide() {
            return {
                tableContainer: this.tableContainer,
                paginationContainer: this.tableContainer.paginationContainer,
            }
        },
        data() {
            return {
                contextMenu: false,
                contextMenuTop: null,
                contextMenuLeft: null,
            };
        },
        computed: {
            reloading() {
                return this.tableContainer.store.state.reloading;
            },
            loading() {
                return this.tableContainer.store.state.loading;
            },
            rows() {
                return this.tableContainer.store.state.rows;
            },
            columns() {
                return this.tableContainer.store.state.columns;
            },
            pagination() {
                return this.tableContainer.store.state.pagination;
            },
            sorting() {
                return this.tableContainer.store.state.sorting;
            },
            table() {
                return this.tableContainer.store.state.table;
            },
            filters() {
                return this.tableContainer.store.state.filters;
            },
            actions() {
                return this.tableContainer.store.state.actions;
            },
            checkboxes() {
                return this.tableContainer.store.state.checkboxes;
            },
            columnsLayout() {
                const layout = {};
                Object.keys(this.columns).forEach(function (columnName) {
                    layout[columnName] = this.columns[columnName].visible;
                }, this);

                return layout;
            },
            showActionsLeft() {
                return ['left', 'both'].includes(this.table.showActions);
            },
            showActionsRight() {
                return ['right', 'both'].includes(this.table.showActions);
            },
            showCheckboxesLeft() {
                return ['left', 'both'].includes(this.table.showCheckboxes);
            },
            showCheckboxesRight() {
                return ['right', 'both'].includes(this.table.showCheckboxes);
            },
            showPaginationTop() {
                return ['up', 'both'].includes(this.table.showPagination);
            },
            showPaginationBottom() {
                return ['bottom', 'both'].includes(this.table.showPagination);
            },
            checkedItemsCount() {
                return this.checkboxes.reduce((carry, value) => {
                    return value.checked + carry;
                }, 0);
            },

            /**
             * @return {Object}
             */
            topFilters() {
                const topFilters = {};

                if (!this.filters) {
                    return topFilters;
                }

                for (let [filterName, filter] of Object.entries(this.filters)) {
                    const isTopFilter =
                        filter.columnName === null ||
                        (
                            this.columns[filter.columnName] !== undefined &&
                            this.columns[filter.columnName].visible === false &&
                            this.columns[filter.columnName].hidden === false
                        )
                    ;

                    if (isTopFilter) {
                        topFilters[filterName] = filter;
                    }
                }

                return topFilters;
            },

            /**
             * @return {boolean}
             */
            hasTopFilters() {
                return Object.keys(this.topFilters).length > 0;
            }
        },
        methods: {
            /**
             * @param {string} string
             * @return {string}
             */
            parseToKebabCase(string) {
                return lodash.kebabCase(string)
            },

            applyFilters() {
                this.tableContainer.store.commit('changePage', {pageNumber: 1});
                this.reloadData();
            },

            clearFilters() {
                this.tableContainer.clearFilters();
                this.reloadData();
            },

            changePage() {
                this.reloadData();
            },

            changePaginationLimit() {
                this.reloadData();
            },

            changeSorting() {
                this.reloadData();
            },

            showContextMenu(event) {
                if (event.target.tagName === 'INPUT') {
                    return true;
                }

                event.preventDefault();

                this.contextMenuTop = event.clientY;
                this.contextMenuLeft = event.clientX;

                this.contextMenu = true;
            },

            closeContextMenu() {
                this.contextMenu = false;
                this.saveColumnsLayout();
            },

            resolveCellComponent(column) {
                if (column.component in this.definedCells) {
                    return this.definedCells[column.component];
                }

                return SimpleCell;
            },

            resolveFilterComponent(filter) {
                if (filter.component in this.definedFilters) {
                    return this.definedFilters[filter.component];
                }

                return NoneFilter;
            },

            /**
             * @param {Vue|Object} action
             * @return {Vue|Object|null}
             */
            resolveActionComponent(action) {
                if (action.component in this.definedActions) {
                    return this.definedActions[action.component];
                }

                return Action;
            },

            reloadData() {
                this.tableContainer.reloadList();
            },

            checkboxesCheckAll() {
                this.tableContainer.store.commit('checkboxesCheckAll');
            },

            checkboxesUncheckAll() {
                this.tableContainer.store.commit('checkboxesUncheckAll');
            },

            /**
             * @return {Promise<void>}
             */
            async saveColumnsLayout() {
                const http = new HttpClient();

                const postData = {
                    tableName: this.table.name,
                    columns: this.columnsLayout,
                };

                const url = Routing.generate('table_save_columns_layout_async');
                await http.request.post(url, postData);
            },

            /**
             * @param {object} actionData
             */
            actionClickHandler(actionData) {
                const { action } = actionData;

                const parsedActionName = lodash.kebabCase(action);
                const concreteActionEvent = `action:${parsedActionName}`;

                this.$emit(concreteActionEvent, actionData);
                this.$emit('action-click', actionData);
            },

            checkboxClickHandler(checkboxData) {
                this.tableContainer.store.commit('changeCheckbox', checkboxData);
            },

            /**
             * @param {object} row
             * @return {{}}
             */
            bindRowAttributes(row) {
                const metaDataKey = '__rowMetadata';

                if (metaDataKey in row) {
                    const attributes = row[metaDataKey];

                    return attributes;
                }

                return {};
            }
        },
        watch: {
            /**
             * @param {string} value
             */
            dataSourceUrl(value) {
                this.tableContainer.store.state.dataSourceUrl = value;
                this.tableContainer.reloadList();
            },
            checkboxes: {
                handler: function (value) {
                    this.$emit('checkboxes-changed', {checkboxes: value});
                },
                deep: true,
            },
        },
        beforeCreate() {
            this.tableContainer = new TableContainer();
        },
        async mounted() {
            this.definedCells = {
                SimpleCell,
                SimpleTransCell,
                DateCell,
                DateTimeCell,
                CheckCell,
                PriceCell,
                UserCell,
                NumberCell,
                PercentCell,
                JsonCell,
                ColorCell,
                UserAgentCell,
                ProductsCell,
                EditableCell,
                ... this.customCells,
            };

            this.definedFilters = {
                NoneFilter,
                TextFilter,
                DateRangeFilter,
                SelectFilter,
                TriboxFilter,
                NumberRangeFilter,
                ...this.customFilters,
            };

            this.definedActions = {
                Action,
                ConfirmedAction,
                ...this.customActions,
            };

            await this.tableContainer.initialize(this.dataSourceUrl);
            this.$emit('table-loaded', this.tableContainer);
        },
    }
</script>

<style lang="scss">
    .vue-table.dark-theme {
        .table {
            .header {
                background-color: #2c3b41;
                .filters .cell ,
                .labels .cell {
                    color: #b8c7ce;
                    border-color: #1e282c;
                }
            }

            .table-row {
                background-color: rgb(53, 72, 80);

                &:hover {
                    background-color: rgba(44, 59, 65, 0.82) !important;
                }

                &:nth-of-type(odd) {
                    background-color: rgb(49, 66, 74);
                }
            }

            input,
            .action,
            .cell {
                color: #b8c7ce;
                border-color: #1e282c;
            }

            input {
                background-color: rgb(53, 72, 80);
            }

            .empty-results {
                border-color: #1e282c;
            }
        }
    }
</style>

<style scoped lang="scss">
    .loader {
        color: #a0a0a0;
    }

    .table-horizontal-scroll {
        width: auto;
        overflow: auto;
        margin: 10px;
        position: relative;
        min-height: 200px;
    }

    .table {
        display: table;
        border-collapse: collapse;

        &.reloading {
            opacity: 0.3;
        }

        .header {
            display: table-header-group;
            font-weight: bold;
            background-color: #f0f0f0;

            .filters {
                display: table-row;

                .cell {
                    padding: 10px;
                    font-weight: bold;
                    color: #737373;
                    white-space: nowrap;
                }
            }

            .labels {
                display: table-row;

                .cell {
                    font-weight: bold;
                    color: #444444;
                    padding: 10px;
                    white-space: nowrap;
                }

                .column-label {
                    display: inline-block;
                }
            }
        }

        .table-row {
            display: table-row;
            background-color: #ffffff;

            &:hover {
                background-color: #e1e4ec !important;
            }

            &:nth-of-type(odd) {
                background-color: #f9f9f9;
            }

            .actions.cell {
                white-space: nowrap;
                width: 100px;
            }

            &.table-blurred-row {
                opacity: 0.3;
            }
        }

        .cell {
            display: table-cell;
            vertical-align: middle;
            border: 1px solid #e0e0e0;
            color: #5a5a5a;
            padding: 5px;

            &.column-align-left {
                text-align: left;
            }

            &.column-align-center {
                text-align: center;
            }

            &.column-align-right {
                text-align: right;
            }

            &.column-align-justify {
                text-align: justify;
            }

            &.column-width-id {
                width: 60px;
                min-width: 60px;
            }

            &.column-width-order-no {
                width: 100px;
                min-width: 100px;
            }

            &.column-width-40 {
                width: 40px;
                min-width: 40px;
            }

            &.column-width-60 {
                width: 60px;
                min-width: 60px;
            }

            &.column-width-80 {
                width: 80px;
                min-width: 80px;
            }

            &.column-width-100 {
                width: 100px;
                min-width: 100px;
            }

            &.column-width-120 {
                width: 120px;
                min-width: 120px;
            }

            &.column-width-140 {
                width: 140px;
                min-width: 140px;
            }

            &.column-width-160 {
                width: 160px;
                min-width: 160px;
            }

            &.column-width-180 {
                width: 180px;
                min-width: 180px;
            }

            &.column-width-200 {
                width: 200px;
                min-width: 200px;
            }

            &.column-width-220 {
                width: 220px;
                min-width: 220px;
            }

            &.column-width-240 {
                width: 240px;
                min-width: 240px;
            }

            &.column-width-260 {
                width: 260px;
                min-width: 260px;
            }

            &.column-width-280 {
                width: 280px;
                min-width: 280px;
            }

            &.column-width-320 {
                width: 320px;
                min-width: 320px;
            }
        }

        .checkboxes.cell {
            text-align: center;
            width: 100px;
        }
    }

    .top-filters {
        display: flex;
        border: 1px solid #d8d8d8;
        background-color: #f3f3f3;
        margin: 10px;
        border-radius: 3px;

        &.reloading {
            opacity: 0.3;
        }

        .top-filters-content {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;

            .top-filter {
                 background: #f0f0f0;
                border: 1px solid #e0e0e0;
                padding: 10px;
                margin: 10px;
                width: 300px;
            }
        }

        .top-filters-actions {
            flex-basis: 120px;
            text-align: center;
            padding-top: 20px;
        }
    }

    .empty-results {
        display: table-caption;
        caption-side: bottom;
        text-align: center;
        padding: 20px;
        border: 1px solid #dedddd;
        border-top: none;
        font-weight: bold;
        color: #a7a7a7;
    }

    @media screen and (max-width: 480px) {
        .pagination {
            .btn {
                padding: 4px 8px;
            }
        }

        .table {
            font-size: 0.8em;

            .btn {
                padding: 4px 6px;
            }

            .header .filters .cell {
                padding: 5px;
            }

            .header .labels .cell {
                padding: 5px;
            }

            .checkboxes.cell {
                width: 75px;
            }
        }
    }

</style>