<template>
    <div>
        <date-picker
            v-model="valueFrom"
            :only-date="onlyDate"
            :format="format"
            :formatted="format"
            :auto-close="true"
            :no-header="true"
            input-size="sm"
            :label="filter.componentAttributes.placeholder_from"
            locale="pl"
            button-now-translation="Dzisiaj"
        />
        <date-picker
            v-model="valueTo"
            :only-date="onlyDate"
            :format="format"
            :formatted="format"
            :auto-close="true"
            :no-header="true"
            input-size="sm"
            :label="filter.componentAttributes.placeholder_to"
            locale="pl"
            button-now-translation="Dzisiaj"
        />
    </div>
</template>

<script>
    import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
    import PhpToMomentjsFormatConverter from "MainBundle/Resources/public/js/vue/components/symfony-form/libraries/PhpToMomentjsFormatConverter";

    export default {
        name: "DateRangeFilter",
        components: {
            DatePicker: VueCtkDateTimePicker
        },
        props: ['name'],
        inject: ['tableContainer'],
        computed: {
            filters() {
                return this.tableContainer.store.state.filters;
            },
            filter() {
                return this.filters[this.name];
            },
            valueFrom: {
                get() {
                    return this.filter.viewValue.from;
                },
                set(valueFrom) {
                    const value = {
                        from: valueFrom,
                        to: this.valueTo,
                    };
                    this.tableContainer.store.commit('changeFilterValue', {
                        filterName: this.filter.name,
                        value,
                        viewValue: value,
                    });
                }
            },
            valueTo: {
                get() {
                    return this.filter.viewValue.to;
                },
                set(valueTo) {
                    const value = {
                        from: this.valueFrom,
                        to: valueTo,
                    };
                    this.tableContainer.store.commit('changeFilterValue', {
                        filterName: this.filter.name,
                        value,
                        viewValue: value,
                    });
                }
            },
            format() {
                return this.converter.convert(this.filter.componentAttributes.format);
            },
            config() {
                return {
                    format: this.format,
                    useCurrent: false,
                    widgetPositioning: {
                        vertical: 'bottom',
                    },
                    showClear: true,
                    showClose: false,
                    showTodayButton: false,
                    locale: 'pl',
                }
            },
            onlyDate() {
                return false === this.format.toLowerCase().includes('h');
            }
        },
        methods: {
            submitFilters() {
                this.$emit('submit-filters');
            }
        },
        created() {
            this.converter = new PhpToMomentjsFormatConverter();
        }
    }
</script>

<style scoped lang="scss">
    input {
        border-radius: 5px;
        background-color: #ffffff;
        vertical-align: top;
        height: 1.5em;
        font-size: 13px;
        font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        line-height: 1em;
        border: 1px solid #ccc;
        box-sizing: content-box;
        outline: none;
        padding: 3px 5px;
        width: calc(100% - 12px);
        min-width: 20px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555555;
    }
</style>