<template>
    <div>
        <input type="text" v-model="valueFrom" :placeholder="filter.componentAttributes.placeholder_from" @keydown.enter="submitFilters">
        <input type="text" v-model="valueTo" :placeholder="filter.componentAttributes.placeholder_to" @keydown.enter="submitFilters">
    </div>
</template>

<script>
    export default {
        name: "NumberRangeFilter",
        props: ['name'],
        inject: ['tableContainer'],
        computed: {
            filters() {
                return this.tableContainer.store.state.filters;
            },
            filter() {
                return this.filters[this.name];
            },
            valueFrom: {
                get() {
                    return this.filter.viewValue.from;
                },
                set(valueFrom) {
                    const value = {
                        from: valueFrom,
                        to: this.valueTo,
                    };
                    this.tableContainer.store.commit('changeFilterValue', {filterName: this.filter.name, value});
                }
            },
            valueTo: {
                get() {
                    return this.filter.viewValue.to;
                },
                set(valueTo) {
                    const value = {
                        from: this.valueFrom,
                        to: valueTo,
                    };
                    this.tableContainer.store.commit('changeFilterValue', {filterName: this.filter.name, value});
                }
            },
        },
        methods: {
            submitFilters() {
                this.$emit('submit-filters');
            }
        }
    }
</script>

<style scoped lang="scss">
    input {
        display: block;
        border-radius: 5px;
        background-color: #ffffff;
        vertical-align: top;
        height: 1.5em;
        font-size: 13px;
        font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        line-height: 1em;
        border: 1px solid #ccc;
        box-sizing: content-box;
        outline: none;
        padding: 3px 5px;
        width: calc(100% - 12px);
        min-width: 20px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555555;
    }
</style>