<template>
    <div class="filter-wrapper">
        <button-default @click="showPlaceSelectionModal = true" style="flex-grow: 10;">
            <i class="fa fa-map-marker"></i>
            <template v-if="filterIsSet">
                <b> {{ place.sector || '*' }}</b>
                {{ place.alley || '*' }}
                {{ place.rack || '*' }}
                {{ place.shelf || '*' }}
            </template>
            <template v-else> Wybierz</template>
        </button-default>
        <button-default v-if="filterIsSet" @click="clearFilter" style="flex-grow: 1;">
            <i class="fa fa-times"></i>
        </button-default>

        <modal v-if="showPlaceSelectionModal" @close="showPlaceSelectionModal = false">
            <template slot="header">Wybierz lokalizację</template>
            <template slot="body">
                <div class="place-selectors">
                    <div class="select-group">
                        <label>Sektor</label>
                        <select2
                            v-model="place.sector"
                            placeholder="Wybierz"
                            :options="{width: '120px'}"
                            :allow-clear="true"
                        >
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select2>
                    </div>

                    <div class="select-group">
                        <label>Alejka</label>
                        <select2
                            v-model="place.alley"
                            placeholder="Wybierz"
                            :options="{width: '120px'}"
                            :allow-clear="true"
                        >
                            <option v-for="alley in 20" :value="alley" :key="`alley_option_${alley}`">{{ alley }}</option>
                        </select2>
                    </div>

                    <div class="select-group">
                        <label>Regał</label>
                        <select2
                            v-model="place.rack"
                            placeholder="Wybierz"
                            :options="{width: '120px'}"
                            :allow-clear="true"
                        >
                            <option v-for="rack in 20" :value="rack" :key="`rack_option_${rack}`">{{ rack }}</option>
                        </select2>
                    </div>

                    <div class="select-group">
                        <label>Półka</label>
                        <select2
                            v-model="place.shelf"
                            placeholder="Wybierz"
                            :options="{width: '120px'}"
                            :allow-clear="true"
                        >
                            <option v-for="shelf in 799" :value="shelf" :key="`shelf_option_${shelf}`">{{ shelf }}</option>
                        </select2>
                    </div>
                </div>
            </template>

            <template slot="footerButtons">
                <button-primary class="pull-right" @click="applyFilter"><i class="fa fa-check"></i> Zastosuj</button-primary>
            </template>
        </modal>
    </div>
</template>

<script>
    import ButtonDefault from "MainBundle/Resources/public/js/vue/components/buttons/ButtonDefault";
    import ButtonPrimary from "MainBundle/Resources/public/js/vue/components/buttons/ButtonPrimary";
    import Modal from "MainBundle/Resources/public/js/vue/components/modal/Modal";
    import Select2 from "MainBundle/Resources/public/js/vue/components/select/Select2";

    export default {
        name: "PlaceNumberFilter",
        components: {ButtonPrimary, Select2, ButtonDefault, Modal},
        props: ['name'],
        inject: ['tableContainer'],
        data() {
            return {
                showPlaceSelectionModal: false,
                place: {
                    sector: null,
                    alley: null,
                    rack: null,
                    shelf: null,
                }
            };
        },
        computed: {
            filterIsSet() {
                return this.place.sector !== null ||
                this.place.alley !== null ||
                this.place.rack !== null ||
                this.place.shelf !== null
            },
            filters() {
                return this.tableContainer.store.state.filters;
            },
            filter() {
                return this.filters[this.name];
            },
            value: {
                get() {
                    return this.filter.viewValue;
                },
                set(value) {
                    this.tableContainer.store.commit('changeFilterValue', {filterName: this.filter.name, value});
                }
            }
        },
        methods: {
            clearFilter() {
                this.place = {
                    sector: null,
                    alley: null,
                    rack: null,
                    shelf: null,
                };

                this.applyFilter();
            },
            applyFilter() {
                this.value = this.place;
                this.showPlaceSelectionModal = false;
                this.submitFilters();
            },
            submitFilters() {
                this.$emit('submit-filters');
            }
        },
        mounted() {
            this.place = this.value;
        }
    }
</script>

<style scoped lang="scss">
    .filter-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        & > button {
            display: block;
            width: 100%
        }
    }

    .place-selectors {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        .select-group {
            text-align: center;
            
            label {
                display: block;
                font-weight: normal;
                color: #000000;
            }
        }
    }
</style>