<template>
    <select2
        v-model="value"
        :allow-clear="allowClear"
        :multiple="filter.componentAttributes.multiple"
        :placeholder="filter.componentAttributes.placeholder"
        :value="filter.viewValue"
        :name="`filter-${filter.name}`"
        :key="`filter_${filter.name}`"
        class="table-filter-select"
        :options="{tags: filter.componentAttributes.tags || false}"
    >
        <option v-for="(value, key) in filter.componentAttributes.choices" :value="key" :key="`${filter.name}_option_${key}`">{{ translateText(value) }}</option>
    </select2>
</template>

<script>
    import Select2 from "MainBundle/Resources/public/js/vue/components/select/Select2";

    export default {
        name: "SelectFilter",
        components: {Select2},
        props: ['name'],
        inject: ['tableContainer'],
        computed: {
            filters() {
                return this.tableContainer.store.state.filters
            },
            filter() {
                return this.filters[this.name];
            },
            value: {
                get() {
                    return this.filter.value;
                },
                set(value) {
                    if (value === this.value) {
                        return;
                    }

                    this.tableContainer.store.commit('changeFilterValue', {filterName: this.filter.name, value});
                    this.submitFilters();
                }
            },

            /**
             * @return {boolean}
             */
            allowClear() {
                return !!this.filter.componentAttributes.allow_clear;
            }
        },
        methods: {
            submitFilters() {
                this.$emit('submit-filters');
            },
            translateText(text) {
                if (this.filter.componentAttributes.trans) {
                    const transKey = this.filter.componentAttributes.trans_prefix + text;
                    const domain = this.filter.componentAttributes.trans_domain;
                    return this.$trans(transKey, {}, domain);
                }

                return text;
            }
        }
    }
</script>

<style lang="scss">
    .table-filter-select + .select2-container .select2-selection {
        border-radius: 4px !important;
    }
</style>