<template>
    <input type="text" :name="`filter-${filter.name}`" v-model="value" :placeholder="$trans(filter.componentAttributes.placeholder)" @keydown.enter="submitFilters">
</template>

<script>
    export default {
        name: "TextFilter",
        props: ['name'],
        inject: ['tableContainer'],
        computed: {
            filters() {
                return this.tableContainer.store.state.filters;
            },
            filter() {
                return this.filters[this.name];
            },
            value: {
                get() {
                    return this.filter.viewValue;
                },
                set(value) {
                    this.tableContainer.store.commit('changeFilterValue', {filterName: this.filter.name, value});
                }
            }
        },
        methods: {
            submitFilters() {
                this.$emit('submit-filters');
            }
        }
    }
</script>

<style scoped lang="scss">
    input {
        border-radius: 4px;
        background-color: #ffffff;
        vertical-align: top;
        height: 2em;
        font-size: 13px;
        font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        line-height: 1em;
        border: 1px solid #ccc;
        box-sizing: content-box;
        outline: none;
        padding: 3px 5px;
        width: calc(100% - 12px);
        min-width: 20px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555555;
    }
</style>