<template>
    <div class="tri-state-box" :name="`filter-${filter.name}`" :key="`filter_${filter.name}`">
        <div class="tribox fa fa-check-circle positive" :class="{checked: isPositiveChecked}" @click="togglePositiveValue"></div>
        <div class="tribox fa fa-times-circle negative" :class="{checked: isNegativeChecked}" @click="toggleNegativeValue"></div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "TriboxFilter",
        props: ['name'],
        inject: ['tableContainer'],
        computed: {
            filters() {
                return this.tableContainer.store.state.filters;
            },
            filter() {
                return this.filters[this.name];
            },
            value: {
                get() {
                    return this.filter.viewValue;
                },
                set(value) {
                    this.tableContainer.store.commit('changeFilterValue', {filterName: this.filter.name, value});
                    this.submitFilters();
                }
            },
            isPositiveChecked() {
                return this.value === this.filter.componentAttributes.positive;
            },
            isNegativeChecked() {
                return this.value === this.filter.componentAttributes.negative;
            },
        },
        methods: {
            submitFilters() {
                this.$emit('submit-filters');
            },
            togglePositiveValue() {
                if (this.value === this.filter.componentAttributes.positive) {
                    this.value = this.filter.componentAttributes.neutral;
                } else {
                    this.value = this.filter.componentAttributes.positive;
                }
            },
            toggleNegativeValue() {
                if (this.value === this.filter.componentAttributes.negative) {
                    this.value = this.filter.componentAttributes.neutral;
                } else {
                    this.value = this.filter.componentAttributes.negative;
                }
            },
        }
    }
</script>

<style lang="scss">
    .vue-table.dark-theme {
        .tri-state-box > div {
            color: #2c3b41;
            border: 1px solid #1e282c;
            background-color: #354850;

            &.positive {
                &:hover,
                &.checked {
                    color: #5897fb;
                }
            }

            &.negative {
                &:hover,
                &.checked {
                    color: #ce5151;
                }
            }
        }
    }

    .tri-state-box {
        text-align: center;
        font-size: 0;

        & > div {
            display: inline-block;
            cursor: pointer;
            font-size: 20px;
            vertical-align: middle;
            color: #e0e0e0;
            padding: 3px;
            text-align: center;
            border: 1px solid #e0e0e0;
            background-color: #fafafa;

            &:before {
                margin: 0;
            }

            &.positive {
                border-radius: 5px 0 0 5px;

                &:hover,
                &.checked {
                    color: #5897fb;
                }
            }

            &.negative {
                border-left: none;
                border-radius: 0 5px 5px 0;

                &:hover,
                &.checked {
                    color: #ce0000;
                }
            }
        }
    }
</style>